<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/store.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css_folder/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css_folder/admin_panel/base_admin.css') }}">

    <title>پنل مدیریت فروشگاه</title>
</head>
<body class="w-75 mx-auto my-5">
<div class="d-flex justify-content-around">
    <h2>پنل مدیریت فروشگاه</h2>
    <div class="menu">
        <a href="" id="product" class="btn btn-outline-primary" role="button">کالاها</a>
        <a href="" id="repository" class="btn btn-outline-primary" role="button">انبار ها</a>
        <a href="" id="inventory" class="btn btn-outline-primary" role="button">موجودی و قیمت</a>
        <a href="" id="order" class="btn btn-outline-primary" role="button">سفارش ها</a>
    </div>
    <a href="{{ url_for('home') }}" class="btn btn-primary">بازگشت به سایت
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
            <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
        </svg>
    </a>
</div>
<hr>

<div id="header_div"></div>
<div id="table_div" class="table-responsive"></div>
<div id="popup_div"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js_folder/jquery.lightbox_me.js') }}"></script>
<script src="{{ url_for('static', filename='js_folder/admin_panel/base_admin.js') }}"></script>
</body>
</html>
