<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css_folder/admin_panel/login_style.css') }}">
    <title>Login</title>
</head>
<body>
<div class="continer">
    <form method="post">
        <h2>ورود به پنل مدیریت فروشگاه</h2>
        <div class="imgcontainer">
            <img src="{{ url_for('static', filename='assets/images/avatar.png') }}" alt="Avatar" class="avatar">
        </div>
        <div class="container">
            <label><b>نام کاربری:</b></label>
            <input type="text" placeholder="نام کاربری وارد کنید" name="username" required>
            <label><b>رمز عبور:</b></label>
            <input type="password" placeholder="رمز عبور وارد کنید" name="password" required>
            <button type="submit">ورود</button>
        </div>
    </form>
    {% if error %}
    <script>
        alert("{{ error }}");
    </script>
    {% endif %}
</div>
</body>
</html>
