table {
    width:90%;
    border-collapse: collapse;
    border: 2px solid black;
    margin: auto;
    }
    th, td {
    border-left: 2px solid black;
    padding: 3px;
    }
    
    tr:nth-child(even) {
    background-color: #eee;
    }
    tr:nth-child(odd) {
    background-color: #fff;
    }
    th {
    background-color: gray;
    color: white;
    }