table {
    min-width:40%;
    border-collapse: collapse;
    border: 2px solid black;
    margin: auto;
    }
    th, td {
    border-left: 2px solid black;
    padding: 5px 5px 5px 15px;
    word-wrap: normal;
    }
    
    tr:nth-child(even) {
    background-color: #eee;
    }
    tr:nth-child(odd) {
    background-color: #fff;
    }
    td:last-child {
    text-align: center;
    }
    th {
    background-color: gray;
    color: white;
    }