body {
    direction: rtl;
    font-family: "Calibri";
}

div.head {
    display: flex;
    justify-content: space-between;
}
div.title {
    display: flex;
}

img.icon {
    width: 60px;
}

div.head h1 {
    margin: auto 10px;
}

div.menu > a {
    margin: 20px ;
    font-size: 20px;
    text-decoration: none;
}

div.menu {
    margin: 20px ;
}
