* {
    box-sizing: border-box;
}

body {
    width: 80vw;
    margin: 1vw auto;
    direction: rtl;
    font-family: "Calibri";
}

header {
    display: flex;
    justify-content: space-between;
}

div.title {
    display: flex;
    cursor: pointer;
}

img.icon {
    width: 60px;
}

header h1 {
    margin: auto 10px;
}

div.menu > a {
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
}

div.menu {
    margin: 20px;
}

main {
    display: flex;
}

div#left_div, div#right_div {
  min-width: 0;
  height: 100vh;
}

div#main_div {
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  /*   align-items: center; */
  overflow: auto;
}