img.p_icon {
    width: 20vw;
}

div.head {
    display: flex;
}

div.detail{
    margin-right: 30px;
}
a.p_category {
    font-size: larger;

    text-decoration: none;
    color: black;
}

a.p_category:hover {
    color: #c55;
}

div.price {
    display: flex;
}

div.price span {
    font-size: small;
}

div.buy button img {
    width: 1vw;
}

div.description {
    margin-top: 30px;
}

div#main_div {
    flex-direction: column;
    min-width: 60%;
}

div.row {
    margin: 10px;
}
