img.p_icon {
    width: 20vw;
}

div.head {
    display: flex;
}

div.detail{
    margin-right: 30px;
}
a.p_category {
    font-size: larger;

    text-decoration: none;
    color: black;
}

a.p_category:hover {
    color: #c55;
}

div.price {
    display: flex;
}

div.price span {
    font-size: small;
}

div.buy button {
    background-color: greenyellow;
    padding: 10px 20px;
    margin-right: 20px;
    box-shadow: rgb(3, 40, 6) 3px 3px 5px;
}

div.description {
    margin-top: 30px;
}
