div.popup {
    width: 32vw;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
}

div.popup > * {
    margin: 10px 20px;
}

div.container {
    width: 94%;
    text-align: center;
}

div.popup > a {
    margin: 10px 0;
}

input {
    width: 90%;
    margin: 0 auto;
}

textarea {
    width: 92%;
    margin: 0 auto;
    resize: none;
}

input.input_number {
    width: 40%;
    margin: 10px 20px;
}

input.product_image_link {
    direction: ltr;
}

div.order_div {
    width: 50vw;
}

div.order_div > table {
    max-width: 90%;
    margin: 10px auto;
}

div.order_div > button {
    margin: 10px 45%;
    width: 10%;
}

table.repositories_table {
    width: 40vw;
}

div.my_table_div {
    padding: 1vw;
    margin: 1vw auto;
    display: table;
    width: auto;
    background-color: #f3f3f3;
    border: 1px solid #666666;
    border-radius: 10px;
}

div.table_div_row {
    display: flex;
    width: auto;
    clear: both;
    background-color: #e3e3e3;
    border: 1px solid #666666;
    border-radius: 4px;
    margin: 3px 0;
}

div.table_div_col {
    float: right;
    display: table-column;
    width: 20vw;
    padding: 0.4em 1em;
}
