body {
    font-size: 1.0em;
    direction: rtl;
}

div.head {
    display: flex;
    justify-content: space-around;
    width: fit-content;
    margin: auto;
}

div.head > * {
    margin-top: 20px;
    margin-left: 30px;
}

div.menu {
    display: flex;
    align-items: center;
}

div.menu > a {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #999;
    padding: 5px 10px;
    margin: 0 1px;
    height: fit-content;
    text-decoration: none;
}

a.back {
   text-decoration: none;
   margin-top: 30px;
}

div#data_div {
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
}
