table {
    width: 90vw;
    border-collapse: collapse;
    border: 2px solid black;
    margin: auto;
}

th,
td {
    border-left: 2px solid black;
    padding: 3px;
}

tr {
    vertical-align: middle;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:nth-child(odd) {
    background-color: #fff;
}

th {
    background-color: gray;
    color: white;
}

table.repositories_table {
    width: 40vw;
}

div.my_table_div {
    padding: 1vw;
    margin: 1vw auto;
    display: table;
    width: auto;
    background-color: #f3f3f3;
    border: 1px solid #666666;
    border-radius: 10px;
}

div.table_div_row {
    display: flex;
    width: auto;
    clear: both;
    background-color: #e3e3e3;
    border: 1px solid #666666;
    border-radius: 4px;
    margin: 3px 0;
}

div.table_div_col {
    float: right;
    display: table-column;
    width: 20vw;
    padding: 0.4em 1em;
}
