<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/store.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css_folder/store/base_store.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css_folder/bootstrap.min.css') }}">
    {% block style_block %}{% endblock %}
    <title>فروشگاه فلان</title>
</head>
<body class="mx-auto my-3">
<header class="d-flex justify-content-sm-between">
    <div onclick="location.href='{{ url_for('store.home') }}';" class="d-flex btn">
        <img src="{{ url_for('static', filename='assets/images/store.png') }}" alt="" class="icon rounded "/>
        <h1 class="mx-2 my-auto">فروشگاه فلان</h1>
    </div>
    <div class="m-4">
        <a href="{{ url_for('admin.login') }}" class="m-3 text-decoration-none h5">مدیریت</a>
        <a href="{{ url_for('store.cart') }}" class="m-3 text-decoration-none h5">سبد خرید</a>
    </div>
</header>
<hr/>
<main>
    <div class="d-flex justify-content-between flex-wrap">{% block main %}{% endblock %}</div>
</main>
<hr/>
<footer></footer>
{% block scripts %}{% endblock %}
</body>
</html>
