{% extends "store/base_store.html" %}

{% block style_block %}
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='css_folder/store/detail_page.css') }}"/>
{% endblock %}

{% block main %}
<div>
    <div class="head">
        <div class="img">
            <img class="p_icon" src="{{commodity['commodity_image_link']}}" alt="">
        </div>
        <div class="detail">
            <h1 class="p_name">{{ commodity["commodity_name"] }}</h1>
            <a href="{{ url_for('store.category', category_name=commodity['category']) }}" class="p_category">{{
                commodity["category"] }}</a>
            <div class="price"><h2>{{ commodity["price"] }}<span class=""> تومان </span></h2></div>
            <div class="buy">
                <form method="POST">
                    <input type="number" id="quantity" name="quantity" min="1" max="{{ commodity['quantity'] }}"
                           value="{{ qty }}">
                    <button type="submit" class="btn btn-success shadow"> افزودن به سبد خرید
                        <img src="{{ url_for('static', filename='assets/images/add_icon.png') }}" alt="">
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="description">{{ commodity['commodity_description'] }}</div>
</div>
{% endblock %}
