{% extends "store/base_store.html" %}

{% block main %}
<div class="w-100">
<h3>نهایی کردن سبد خرید</h3>
<div class="w-50 mx-auto mt-5">
<form method="POST">
    <fieldset class="form-group" {{ disabled }}>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">نام و نام خانوادگی:</label>
            <div class="col-sm-8">
                <input type="text" name="user_name" class="form-control" required>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">آدرس:</label>
            <div class="col-sm-8">
                <input type="text" name="address" class="form-control" required>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">تلفن همراه:</label>
            <div class="col-sm-8">
                <input type="text" name="phone" class="form-control" required>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">تاریخ تحویل:</label>
            <div class="col-sm-8">
                <select style="direction: ltr;" class="form-select" name="resive_time">
                    {% for d in date %}
                    <option value="{{ d }}">{{ d }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-3 col-form-label"></label>
            <div class="col-sm-8">
                <button type="submit" class="btn btn-success mb-2">ثبت نهایی سفارش</button>
            </div>
        </div>
    </fieldset>
</form>
</div></div>
{% endblock %}
