{% extends "store/base_store.html" %}

{% block style_block %}
<link rel="stylesheet" href="{{ url_for('static', filename='css_folder/store/home_page.css') }}"/>
{% endblock %}

{% block main %}
{% for product in products %}
{% if product["commodities"] %}
<div class="product_category_and_cards_container">
    <a href="{{ url_for('store.category', category_name=product['category_full']) }}" class="product_category">{{
        product["category"] }}</a>
    <div class="cards_container">
        {% for commodity in product["commodities"] %}
        <a class="card_product"
           href="{{ url_for('store.detail', id=commodity['id'], product_name=commodity['commodity_name']) }}">
            <div class="card_product">
                <img src='{{ commodity["image_link"] }}'/>
                <div class="commodity_titles_div">
                    <h5>{{ ' '.join(commodity["commodity_name"].split()[:3]) + ' ...' }}</h5>
                    <h5>{{ commodity["price"] }} تومان</h5>
                </div>
                <div class="my_overlay">
                    <div class="my_text">{{ commodity["commodity_name"] }}</div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}
