<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>

<div class="continer">
    <form method="post">
        <h2>ورود به پنل مدیریت فروشگاه</h2>
        <div class="imgcontainer">
            <img src="../static/img_avatar2.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label><b>نام کاربری:</b></label>
            <input type="text" placeholder="نام کاربری وارد کنید" name="username" required>

            <label><b>رمز عبور:</b></label>
            <input type="password" placeholder="رمز عبور وارد کنید" name="password" required>

            <button type="submit">ورود</button>
        </div>

    </form>
    {% if error %}
    <span>Error: {{ error }}</span>
    {% endif %}
</div>
</body>
</html>